{% extends 'base.html' %}
{% block content %}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Favorite Artists
    </button>
    <ol>
      {% for artist in fav5 %}

        {% if artist == 'Elton John' %}
          <li>{{artist}} is my favorite artist and the rest are:</li>
          

        {% else %}
          <li>{{artist}}</li>

        {% endif %}

      {% endfor %}
      
    </ol>
      
    <a href="/">Go Home</a>
  </div>

  {% endblock %}